body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1, h2, h3 {
  color: #222;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    background: white;
    padding: 40px;
    border-radius: 12px;
    border: 1px solid #ddd;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    label {
      display: block;
      margin-top: 10px;
      font-weight: bold;
    }

    input {
      width: 90%;
      margin: 10px auto;
      padding: 14px;
      margin-top: 5px;
      border-radius: 5px;
      border: 1px solid #aaa;
      display: block;
    }

    button {
      margin-top: 15px;
      width: 100%;
      padding: 10px;
      background: #0077cc;
      color: white;
      border: none;
      border-radius: 5px;
    }

    button:hover {
      background: #005fa3;
    }
  }

}

.pelicula {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

ul {
  padding-left: 20px;

  li {
    margin-bottom: 5px;
  }
}

.logout {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 12px;
  background: #cc0000;
  color: white;
  border-radius: 5px;
}

.logout:hover {
  background: #a30000;
}